table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

td input {
  width: 100%;
}

td button {
  background-color: #20b2aa;
  border: none;
  color: #ffffff;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
}

.search {
  color: #0000ff;
}
.result {
  color: #32cd32;
}
.txtError {
  color: #dc143c;
}
